<a href="https://colab.research.google.com/github/ikabrain/UML501-IKANSH-MAHAJAN-102303754-LabAssignments/blob/main/ML_assign2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment - 2

Download the dataset (in csv format) from the following link:

https://www.kaggle.com/jahias/microsoft-adventure-works-cycles-customer-data

The Marketing department of Adventure Works Cycles wants to increase sales by targeting specific
customers for a mailing campaign. The company's database contains a list of past customers and a list of
potential new customers. By investigating the attributes of previous bike buyers, the company hopes to
discover patterns that they can then apply to potential customers. They hope to use the discovered patterns
to predict which potential customers are most likely to purchase a bike from Adventure Works Cycles.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_cus = pd.read_csv("AWCustomers.csv", index_col="CustomerID")
df_cus.head()

,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,CountryRegionName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
CustomerID,,,,,,,,,,,,,,,,,,,,,
21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,Australia,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,Canada,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,United States,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,United Kingdom,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,Germany,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

In [3]:
df_sales = pd.read_csv("AWSales.csv", index_col="CustomerID")
df_sales.head()

            BikeBuyer  AvgMonthSpend
CustomerID
21173               1          50.97
13249               1          53.11
29350               1          54.08
13503               1          56.93
22803               1          55.41

In [6]:
df_train = df_cus.join(df_sales, how="left")
df_train.head()

,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,CountryRegionName,...,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend
CustomerID,,,,,,,,,,,,,,,,,,,,,
21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,Australia,...,M,M,1,3,0,1,81916,2017-03-06,1,50.97
13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,Canada,...,M,M,1,2,1,2,81076,2017-03-06,1,53.11
29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,United States,...,F,S,0,3,0,0,86387,2017-03-06,1,54.08
13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,United Kingdom,...,M,M,1,2,1,2,61481,2017-03-06,1,56.93
22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,Germany,...,M,S,1,1,0,0,51804,2017-03-06,1,55.41

In [7]:
df_test_classif = pd.read_csv("AWTest-Classification.csv", index_col="CustomerID")
df_test_classif.head()

,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,CountryRegionName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
CustomerID,,,,,,,,,,,,,,,,,,,,,
11219,NaN,Charles,NaN,Cook,NaN,6871 Bel Air Dr.,NaN,Woodburn,Oregon,United States,...,High School,Skilled Manual,M,M,1,2,2,2,56100,2017-03-06
11241,NaN,Lisa,NaN,Cai,NaN,"102, rue de Berri",NaN,Les Ulis,Essonne,France,...,Partial College,Skilled Manual,F,S,1,0,0,0,61555,2017-03-06
11352,NaN,Raymond,A,Rodriguez,NaN,"24, impasse Ste-Madeleine",NaN,Pantin,Seine Saint Denis,France,...,Partial College,Clerical,M,M,1,3,0,2,83613,2017-03-06
11904,NaN,Kaylee,NaN,Cook,NaN,5742 Curtis Drive,NaN,Geelong,Victoria,Australia,...,Graduate Degree,Professional,F,S,1,2,0,0,130551,2017-03-06
11908,NaN,Rafael,A,Tang,NaN,8839 Leonard Dr,NaN,South Melbourne,Victoria,Australia,...,Graduate Degree,Professional,M,S,1,2,0,0,135915,2017-03-06

In [8]:
df_test_regress = pd.read_csv("AWTest-Classification.csv", index_col="CustomerID")
df_test_regress.head()

,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,CountryRegionName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
CustomerID,,,,,,,,,,,,,,,,,,,,,
11219,NaN,Charles,NaN,Cook,NaN,6871 Bel Air Dr.,NaN,Woodburn,Oregon,United States,...,High School,Skilled Manual,M,M,1,2,2,2,56100,2017-03-06
11241,NaN,Lisa,NaN,Cai,NaN,"102, rue de Berri",NaN,Les Ulis,Essonne,France,...,Partial College,Skilled Manual,F,S,1,0,0,0,61555,2017-03-06
11352,NaN,Raymond,A,Rodriguez,NaN,"24, impasse Ste-Madeleine",NaN,Pantin,Seine Saint Denis,France,...,Partial College,Clerical,M,M,1,3,0,2,83613,2017-03-06
11904,NaN,Kaylee,NaN,Cook,NaN,5742 Curtis Drive,NaN,Geelong,Victoria,Australia,...,Graduate Degree,Professional,F,S,1,2,0,0,130551,2017-03-06
11908,NaN,Rafael,A,Tang,NaN,8839 Leonard Dr,NaN,South Melbourne,Victoria,Australia,...,Graduate Degree,Professional,M,S,1,2,0,0,135915,2017-03-06

Warning: Total number of columns (23) exceeds max_columns (20) limiting to first (20) columns.

---

## Part I: Based on Feature Selection, Cleaning, and Preprocessing to Construct an Input from Data Source

### (a) Examine the values of each attribute and Select a set of attributes only that would affect to predict future bike buyers to create your input for data mining algorithms. Remove all the unnecessary attributes. (Select features just by analysis)

In [11]:
df_train.shape

(18361, 25)

In [12]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18361 entries, 21173 to 16676
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Title                 101 non-null    object
 1   FirstName             18361 non-null  object
 2   MiddleName            10572 non-null  object
 3   LastName              18361 non-null  object
 4   Suffix                3 non-null      object
 5   AddressLine1          18361 non-null  object
 6   AddressLine2          311 non-null    object
 7   City                  18361 non-null  object
 8   StateProvinceName     18361 non-null  object
 9   CountryRegionName     18361 non-null  object
 10  PostalCode            18361 non-null  object
 11  PhoneNumber           18361 non-null  object
 12  BirthDate             18361 non-null  object
 13  Education             18361 non-null  object
 14  Occupation            18361 non-null  object
 15  Gender                18361 non-null  object
 16  MaritalStatus         18361 non-null  object
 17  HomeOwnerFlag         18361 non-null  int64
 18  NumberCarsOwned       18361 non-null  int64
 19  NumberChildrenAtHome  18361 non-null  int64
 20  TotalChildren         18361 non-null  int64
 21  YearlyIncome          18361 non-null  int64
 22  LastUpdated           18361 non-null  object
 23  BikeBuyer             18361 non-null  int64
 24  AvgMonthSpend         18361 non-null  float64
dtypes: float64(1), int64(6), object(18)
memory usage: 3.6+ MB

**Features REMOVED (14 attributes):**

 - Personal identifiers: Names and titles are unique to individuals and don't reveal behavioral patterns
 - Detailed address info: Specific addresses, phone numbers are too granular
 - Geographic details: Individual pincodes create too many categories without clear patterns
 - System metadata: LastUpdated is administrative, not behavioral

 **Features KEPT (12 attributes):**

 - Demographics: Age (from BirthDate), Education, Occupation, Gender, MaritalStatus affect lifestyle and purchasing power
 - Financial indicators: YearlyIncome and AvgMonthSpend directly relate to ability and willingness to purchase
 - Lifestyle factors: HomeOwnerFlag, NumberCarsOwned, and children variables indicate life stage and transportation needs

### (b) Create a new Data Frame with the selected attributes only.

In [26]:
removed_features = [
    "Title",
    "FirstName",
    "MiddleName",
    "LastName",
    "Suffix",
    "AddressLine1",
    "AddressLine2",
    "PostalCode",
    "PhoneNumber",
    "LastUpdated",
]

In [41]:
from datetime import date
def calculate_age(born):
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [49]:
df_train_new = df_train.drop(removed_features, axis=1)

df_train_new["BirthDate"] = pd.to_datetime(df_train_new["BirthDate"])
df_train_new["BirthDate"] = df_train_new["BirthDate"].apply(calculate_age)
df_train_new.rename(columns={"BirthDate": "Age"}, inplace=True)

df_train_new["YearlyIncome"] = df_train_new["YearlyIncome"].astype(float)

df_train_new.head()

,City,StateProvinceName,CountryRegionName,Age,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer,AvgMonthSpend
CustomerID,,,,,,,,,,,,,,,
21173,Wollongong,New South Wales,Australia,37,Bachelors,Clerical,M,M,1,3,0,1,81916.0,1,50.97
13249,Shawnee,British Columbia,Canada,53,Partial College,Clerical,M,M,1,2,1,2,81076.0,1,53.11
29350,West Covina,California,United States,39,Bachelors,Clerical,F,S,0,3,0,0,86387.0,1,54.08
13503,Liverpool,England,United Kingdom,47,Partial College,Skilled Manual,M,M,1,2,1,2,61481.0,1,56.93
22803,Werne,Nordrhein-Westfalen,Germany,50,Partial College,Skilled Manual,M,S,1,1,0,0,51804.0,1,55.41

In [50]:
df_test_classif_new = df_test_classif.drop(removed_features, axis=1)

df_test_classif_new["BirthDate"] = pd.to_datetime(df_test_classif_new["BirthDate"])
df_test_classif_new["BirthDate"] = df_test_classif_new["BirthDate"].apply(calculate_age)
df_test_classif_new.rename(columns={"BirthDate": "Age"}, inplace=True)

df_test_classif_new["YearlyIncome"] = df_test_classif_new["YearlyIncome"].astype(float)

df_test_classif_new.head()

,City,StateProvinceName,CountryRegionName,Age,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
CustomerID,,,,,,,,,,,,,
11219,Woodburn,Oregon,United States,54,High School,Skilled Manual,M,M,1,2,2,2,56100.0
11241,Les Ulis,Essonne,France,47,Partial College,Skilled Manual,F,S,1,0,0,0,61555.0
11352,Pantin,Seine Saint Denis,France,65,Partial College,Clerical,M,M,1,3,0,2,83613.0
11904,Geelong,Victoria,Australia,35,Graduate Degree,Professional,F,S,1,2,0,0,130551.0
11908,South Melbourne,Victoria,Australia,39,Graduate Degree,Professional,M,S,1,2,0,0,135915.0

In [51]:
df_test_regress_new = df_test_regress.drop(removed_features, axis=1)

df_test_regress_new["BirthDate"] = pd.to_datetime(df_test_regress_new["BirthDate"])
df_test_regress_new["BirthDate"] = df_test_regress_new["BirthDate"].apply(calculate_age)
df_test_regress_new.rename(columns={"BirthDate": "Age"}, inplace=True)

df_test_regress_new["YearlyIncome"] = df_test_regress_new["YearlyIncome"].astype(float)

df_test_regress_new.head()

,City,StateProvinceName,CountryRegionName,Age,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
CustomerID,,,,,,,,,,,,,
11219,Woodburn,Oregon,United States,54,High School,Skilled Manual,M,M,1,2,2,2,56100.0
11241,Les Ulis,Essonne,France,47,Partial College,Skilled Manual,F,S,1,0,0,0,61555.0
11352,Pantin,Seine Saint Denis,France,65,Partial College,Clerical,M,M,1,3,0,2,83613.0
11904,Geelong,Victoria,Australia,35,Graduate Degree,Professional,F,S,1,2,0,0,130551.0
11908,South Melbourne,Victoria,Australia,39,Graduate Degree,Professional,M,S,1,2,0,0,135915.0

### (c) Determine a Data value type (Discrete, or Continuous, then Nominal, Ordinal, Interval, Ratio) of each attribute in your selection to identify preprocessing tasks to create input for your data mining.

In [53]:
df_train_new.head()

,City,StateProvinceName,CountryRegionName,Age,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer,AvgMonthSpend
CustomerID,,,,,,,,,,,,,,,
21173,Wollongong,New South Wales,Australia,37,Bachelors,Clerical,M,M,1,3,0,1,81916.0,1,50.97
13249,Shawnee,British Columbia,Canada,53,Partial College,Clerical,M,M,1,2,1,2,81076.0,1,53.11
29350,West Covina,California,United States,39,Bachelors,Clerical,F,S,0,3,0,0,86387.0,1,54.08
13503,Liverpool,England,United Kingdom,47,Partial College,Skilled Manual,M,M,1,2,1,2,61481.0,1,56.93
22803,Werne,Nordrhein-Westfalen,Germany,50,Partial College,Skilled Manual,M,S,1,1,0,0,51804.0,1,55.41

In [54]:
df_train_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18361 entries, 21173 to 16676
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   City                  18361 non-null  object
 1   StateProvinceName     18361 non-null  object
 2   CountryRegionName     18361 non-null  object
 3   Age                   18361 non-null  int64
 4   Education             18361 non-null  object
 5   Occupation            18361 non-null  object
 6   Gender                18361 non-null  object
 7   MaritalStatus         18361 non-null  object
 8   HomeOwnerFlag         18361 non-null  int64
 9   NumberCarsOwned       18361 non-null  int64
 10  NumberChildrenAtHome  18361 non-null  int64
 11  TotalChildren         18361 non-null  int64
 12  YearlyIncome          18361 non-null  float64
 13  BikeBuyer             18361 non-null  int64
 14  AvgMonthSpend         18361 non-null  float64
dtypes: float64(2), int64(6), object(7)
memory usage: 2.2+ MB

In [55]:
discrete_cols = [
    "City",
    "StateProvinceName",
    "CountryRegionName",
    "Age",
    "Education",
    "Occupation",
    "Gender",
    "MaritalStatus",
    "HomeOwnerFlag",
    "NumberCarsOwned",
    "NumberChildrenAtHome",
    "TotalChildren",
    "BikeBuyer",
]
continuous_cols = [
    "YearlyIncome",
    "AvgMonthSpend",
]

In [56]:
nominal_cols = [
    "City",
    "StateProvinceName",
    "CountryRegionName",
    "Education",
    "Occupation",
    "Gender",
    "MaritalStatus",
]
ordinal_cols = [
    "Age",
    "HomeOwnerFlag",
    "NumberCarsOwned",
    "NumberChildrenAtHome",
    "TotalChildren",
]
interval_cols = []
ratio_cols = [
    "YearlyIncome",
    "AvgMonthSpend",
]

---

## Part II: Data Preprocessing and Transformation

Depending on the data type of each attribute, transform each object from your preprocessed data.
Use all the data rows (~= 18000 rows) with the selected features as input to apply all the tasks below, do
not perform each task on the smaller data set that you got from your random sampling result.

### (a) Handling Null values

### (b) Normalization

### (c) Discretization (Binning) on Continuous attributes or Categorical Attributes with too many different values

### (d) Standardization/Normalization

### (e) Binarization (One Hot Encoding)

---

## Part III: Calculating Proximity /Correlation Analysis of two features

Make sure each attribute is transformed in a same scale for numeric attributes and Binarization for each
nominal attribute, and each discretized numeric attribute to standardization. Make sure to apply a correct
similarity measure for nominal (one hot encoding)/binary attributes and numeric attributes respectively.

### (a) Calculate Similarity in Simple Matching, Jaccard Similarity, and Cosine Similarity between two following objects of your transformed input data.

### (b) Calculate Correlation between two features Commute Distance and Yearly Income

---